#container-creer-memory{
  display:grid;
  grid-template-columns: .4fr 1fr;
  grid-template-rows: 1fr .1fr;
  flex-direction: row;
  padding: 0 5%;
}

#div-theme-choisi{
  display: flex;
  justify-content: right;
  margin: 50px;
}

#container-parametres{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  & > * {
    width: 90%;
  }
}

#div-slider{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  *:not(#divSliderTimeOut){
    width: 100%;
  }

}

.slider {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  height : 100%;
  width: 100%;
  
}

.rangeTimer {
  display: block;
  align-items: center;
}

#divSliderTimeOut {
  display: block;
  position: relative;
  margin: 0%;
  width: 100%;
  padding: 10px 0;
  
}

output {
  position: relative;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  color : #006A52;
  font-weight: bold;
}

#sliderTime {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #FFFFFF;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 25px;
    border-radius: 10px;
    background: #006A52;
    transition: .1s ease-in-out;
    cursor: pointer;
  }
}

.slider{
}

#texte-temps-memo{
}

#nbcarterange{
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  position: relative;
  background: transparent;
  height: 60px;
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 60px;
    width: 60px;
    border: 5px solid #006A52;
    border-radius: 10px;
    transition: transform .2s ease-in-out;
  }
}

#texte-nombre-cartes{
}
#choix-nombre{
}

.bas-vert{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-lauch {
  background-color: #006A52;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 50px;
  border-radius: 20px;
  border: none;
}
