<div id="container-creer-memory">
  <div id="div-theme-choisi">
    <app-item-frame  (selectionneEvent)="onChangerTheme()" [item]="themeSelectionne" [editerEnable]="false" [selectionnerText]="'Choisir un Thème'"></app-item-frame>
  </div>
  <div id="container-parametres">
    <div id="div-slider">
      <p id="texte-temps-memo">Personnaliser le temps de mémorisation</p>
      <div class="slider">

        <div class="rangeTimer" id="divSliderTimeOut">
          <output #output id="sliderTimeOut" ng-model="value">{{(dureeIndice)| number:'2.0-0'}}s</output>
        </div>
          <input #range type="range" min="{{min}}" max="{{max}}" value="{{dureeIndice}}" name="slider" id="sliderTime" ng-model="value" (input)="onValueTimeChange(range.valueAsNumber)">
      </div>
      <div class="background-slider"></div>
    </div>

    <app-slider-number [numbers]="numberOfCards" [title]="'Nombre de cartes'" [name]="'nbcard'" [service]="gameService.nombreCartes$"></app-slider-number>
    <app-slider-number [numbers]="numberOfCardsTips" [title]="'Nombre de cartes retournées à l\'indice (par paire)'" [name]="'nbcardtip'" [service]="gameService.nombreCartesIndice$"></app-slider-number>
  </div>
  <br>
  <div class="bas-vert">
    <button class="btn-lauch" (click)="lancerPartie()">Lancer Partie</button>
  </div>

</div>
