#bouton-bas-creer-theme{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 2%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.bas-vert{
  background: #006A52;
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  width: 21%;
  height: 80px;
  border-radius: 20px;
  border: #006A52;
}
.bas-jaune{
  background: #FCC938;
  font-size: 180%;
  font-weight: bold;
  color: #FFFFFF;
  width: 21%;
  height: 80px;
  border-radius: 20px;
  border: #FCC938;
}
