#container-creer-patient{
  display: grid;
  //flex-direction: row;
  grid-template-columns: 0.1fr 2fr 1fr .1fr;
  width: 1044px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #EFEFEF;
  border-radius: 30px;
  font-family: sans-serif;
}
#container-donnee-patient{
  display: flex;
  flex-direction: column;
 // background: blue;
  align-items: center;
}

#text-nouveau-profil{
  font-size: 230%;
  color: #006A52;
  font-weight: bold;
}
#form-nom-prenom{
  height: 50%;
  width: 100%;
}
.donnee-patient{
  align-self: baseline;
  font-size: 22px;
  font-weight: bold;

}
.input-identite{
  position: relative;
  align-self: baseline;
  width: 90%;
  height: 20%;
  border-radius: 12px;
  border: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
}
#info-stade{
  position: relative;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  left: 2%;
  top: 34%;
  background: #006A52;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
}
#container-radio-button{
  position: relative;
  right: 6%;
  display: grid;
  grid-template-columns: repeat(2,1.3fr) 1.5fr repeat(2,1.3fr) 1.5fr repeat(2,1.3fr);
  font-size: 20px;
  font-weight: bold;
}


#container-photo-patient{
  display: grid;
  grid-template-rows: 400px 1fr;
  align-content: center;
  width: 100%;
  margin: 20px 0;
  margin-top: 80px;
  padding: 0;
}

#photo{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
}

#photo-section {
  width: 70%;
  height: 80%;
  object-fit: cover;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fit-end {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.bouton-vert{
  background: #006A52;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

#charger-une-photo{
  width: 90%;
  height: 35px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photo-button{
  display: none;
}
#creer-profil{
  height: 75px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  border: none;
}
#retour-creer-patient{
  position: absolute;
  bottom: 0%;
  margin-bottom: 1.5%;
  background: #006A52;
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  width: 21%;
  height: 80px;
  border-radius: 20px;
  border: #006A52;
  margin: 15px;
}

#supprimer-patient{
  background: red;
  position: absolute;
  bottom: 87%;
  left: 73%;
  padding: .2% 1% .2% 1%;
  color: #FFFFFF;
  font-size: 200%;
  font-weight: bold;
  border-radius: 12px;
  border: red;

}

#pop-up {
  position: fixed;
  top: 0%;
  right: -100%;
  background: #FFFFFF;
  font-family: sans-serif;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-rows: 200px 1fr;
  z-index: 1;
  background: #EFEFEF;
  &>* {
    margin: 20px 50px;
  }
  scale: 0;
  transition: right 0.5s ease-in-out, scale 0s ease-in-out 0.5s;
  &.active {
    transition: right 0.5s ease-in-out, scale 0s ease-in-out 0s;
    right: 0;
    scale: 1;
  }
}

.croix {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}

.croix:before, .croix:after {
  content: "";
  position: absolute;
  top: 75%;
  left: 75%;
  height: 5px;
  border: 2px solid #006A52;
  border-radius: 12px;
  background-color: #006A52;
}

.croix:before {
  width: 150%;
  transform: translate(-50%, -50%)rotate(45deg);
}

.croix:after {
  width: 150%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.titre-stade{
  font-weight: bold;
  color: #006A52;
  font-size: 150%;
}

.description-stade{
  font-weight: normal;
  font-size: 120%;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 0;
  scale: 0;
  transition: background-color 0.2s ease-in-out, scale 0s ease-in-out 0.2s;
  &.active {
    transition: background-color 0.2s ease-in-out, scale 0s ease-in-out 0s;
    background-color: rgba(0,0,0,.4);
    scale: 1;
  }
}