<div id="container-creer-patient">
  <div></div>
  <div id="container-donnee-patient">
    <p id="text-nouveau-profil">NOUVEAU PROFIL</p>
    <p class="donnee-patient">Nom :</p>
    <input class="input-identite" type="text"/>
    <p class="donnee-patient">Prénom :</p>
    <input class="input-identite" type="text"/>
    <div style="display: flex; align-content: flex-end; width: 100%">
    <p class="donnee-patient">Stade de la maladie :</p>
      <button id="info-stade">i</button>
    </div>
    <div id="container-radio-button">
      <input type="radio" id="radio1" name="radio-group"  checked>
      <label for="radio1">Stade 3</label>
      <div></div>
      <input type="radio" id="radio2" name="radio-group">
      <label for="radio2">Stade 4</label>
      <div></div>
      <input type="radio" id="radio3" name="radio-group">
      <label for="radio3">Stade 5</label>
    </div>
  </div>

  <div id="container-photo-patient">
    <div style="height: 18%"></div>
    <div id="photo"><img src="assets/images/image014.png"/></div>

    <button id="charger-une-photo">Charger une photo</button>
    <button id="creer-profil">CREER LE PROFIL</button>
  </div>
  <div></div>
</div>

