<div class="stat-patient">
  <div id="container-infos">
    <div id="photo">
      <img [src]="stockImage">
    </div>
    <div class="profil-info">
      <p class="profil-nom">{{nom}}</p>
      <p class="profil-prenom">{{prenom}}</p>
      <p class="profil-stade">{{stade}}</p>
      <p class="profil-parties">{{partiesJouees}} parties jouées</p>
    </div>
  </div>
  <div class="stats">
    <div class="stat-lines">
      <p class="profil-info-titre">Temps de jeu : {{tempsDeJeu}}</p>
    </div>
    <div class="stat-lines">
      <p class="profil-info-titre">Nombre d'essais : {{nbEssai}}</p>
    </div>
    <div class="stat-lines">
      <p class="profil-info-titre">Nombre d'erreurs : {{nbErreur}}</p>
    </div>
    <div class="stat-lines">
      <p class="profil-info-titre">Nombre d'indices : {{nbIndices}}</p>
    </div>
  </div>
</div>
