.stat-patient {
  display: grid;
  grid-template-columns: .3fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  //align-items: center;
  justify-content: center;
}

p {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

}

#container-infos {
  display: grid;
  grid-template-rows: .7fr .3fr;

  height: 450px;
  width: 300px;
  background: #CFCFCF;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
}

#photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  &>img{
    width: 90%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  background-color: #FFFFFF;
  border-radius: 15px;
}

.profil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.profil-nom {
  font-size: 30px;
  font-weight: bold;
  color: #006A52;
  margin-bottom: 0px;

}

.nomprenom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;

}

.profil-prenom {
  font-size: 30px;
  font-weight: bold;
  color: #006A52;
  margin-top: 0px;

}

.profil-stade {
  font-size: 20px;
  color: black;
}

.profil-parties {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

thead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #006A52;
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px 20px 0px 0px;
}

.containerStats {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  & > app-statcontainer {
    width: 100%;
  }
}

app-statcontainer.invisible {
  display: none;
}


.bouton-retour{
  position: fixed;
  bottom: 0%;
  margin-bottom: 1.5%;
  background: #006A52;
  font-size: 32px;
  font-weight: bold;
  color: #FFFFFF;
  width: 21%;
  height: 80px;
  border-radius: 20px;
  border: #006A52;
  margin: 15px;
  text-transform: uppercase;
}
.centered-h{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
