.profil-patient {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .profil-header {
    width: 48%;
    
    #container-donnee-patient {
      display: flex;
      flex-direction: column;
      
      #form-nom-prenom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        
        .donnee-patient {
          font-weight: bold;
          margin-right: 10px;
        }
        
        .input-identite {
          border: none;
          border-bottom: 1px solid black;
          width: 60%;
          padding: 5px;
          margin-right: 10px;
          
          &:focus {
            outline: none;
          }
        }
      }
      
      #info-stade {
        font-weight: bold;
      }
      
      .profil-info-ligne {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        
        .profil-info-titre {
          font-weight: bold;
          margin-right: 10px;
        }
        
        .profil-info-valeur {
          font-weight: normal;
        }
      }
    }
  }
  
  .bloc-statistiques {
    width: 48%;
    display: flex;
    flex-direction: column;
    
    .profil-info-ligne {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      
      .profil-info-titre {
        font-weight: bold;
        margin-right: 10px;
      }
      
      .profil-info-valeur {
        font-weight: normal;
      }
    }
  }
}
