#container-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 20px;
  margin-right: 20px;
}

.profil-nom, .profil-prenom {
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.profil-stade {
  font-size: 12px;
  color: black;
}

.profil-info-valeur {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#photo {
  margin-bottom: 20px;
}

.stat-lines {
  display: flex;
  justify-content: flex-end;
  background-color: lightgrey;
  padding: 10px;
  margin-top: 20px;
}

.profil-info-titre {
  font-weight: bold;
  color: black;
  font-size: 16px;
  margin: 0;
}
