
<div class="centered">
  <div id="container-creer-patient">
    <div id="container-donnee-patient">
      <div id="form-nom-prenom" >
        <div>
          <p class="donnee-patient">Prénom :</p>
          <p class="input-identite" type="text" id="input-prenom"[ngModel]="'prenom'"></p>
        </div>
        <div>
          <p class="donnee-patient">Nom :</p>
          <p class="input-identite" id="input-nom" type="text"[ngModel]="'nom'"></p>
        </div>
        <div class="align">
          <p class="donnee-patient">Stade de la maladie : <span id="info-stade">Stade 4</span></p>
        </div>
      </div>

    </div>

    <div id="container-photo-patient" >
      <div id="photo">
        <img  id="affichage-photo"/>
      </div>
      <button class="bouton-vert" id="modifier-le-profil" (click)="modifierProfil()" >Modifier le profil</button>
    </div>
    <div id="bouton-en-plus">
      <button class="bouton-vert"  id="stats" (click)="navStat()">STATISTIQUES</button>
      <button id="lancer-partie" class="bouton-vert" (click)="navReglagePartie()">PARAMETRER UNE PARTIE</button>
    </div>
  </div>
</div>
<button class="bouton-retour" (click)="retour()">Retour</button>



