<div id="pop-up">
  <div class="croix" (click)="closeFNC()"></div>
  <div style="height: 80px"></div>
  <div id="container-texte">
    <p class="titre-stade"id="titre-stade-3">Stade 3 : déclin cognitif léger</p>
    <p class="description-stade"id="description-stade-3">Lorsque les pertes de mémoire et les troubles cognitifs deviennent plus fréquents et commencent à être remarqués.</p>
    <p class="titre-stade"id="titre-stade-4">Stade 4 : déclin cognitif modéré</p>
    <p class="description-stade"id="description-stade-4">La personne présente clairement des signes de déficit mental et cognitif, indiquant un début de démence ou de maladie d’Alzheimer.</p>
    <p class="titre-stade"id="titre-stade-5">Stade 5 : déclin cognitif relativement grave</p>
    <p class="description-stade"id="description-stade-5">Le patient risque de ne plus être capable de s’acquitter normalement des tâches du quotidien.</p>
  </div>
  <div style="height: 80px"></div>
</div>

