.resultat-partie {
  display: grid;
  grid-template-columns: .3fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 100%;
  //align-items: center;
  justify-content: center;
}

p {
  line-height: normal;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

}

#container-infos {
  display: grid;
  grid-template-rows: .7fr .3fr;

  height: 450px;
  width: 300px;
  background: #CFCFCF;
  border-radius: 20px;
  gap: 10px;
  padding: 20px;
}

#photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  &>img{
    width: 90%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  background-color: #FFFFFF;
  border-radius: 15px;
}

.profil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.profil-nom {
  font-size: 30px;
  font-weight: bold;
  color: #006A52;
  margin-bottom: 0px;

}

.nomprenom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;

}

.profil-prenom {
  font-size: 30px;
  font-weight: bold;
  color: #006A52;

}

#nom-patient {
  font-size: 40px;
  color: #006A52;
}

#profil-parties {
  font-size: 20px;
  font-weight: bold;
  color: black;
}


#boite-droite {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #CFCFCF;
  border-radius: 20px;
}

#message-felicitation {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
  color: #006A52;
}

#boite-images-trouvees {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  width: 75%;
  height: 140px;
  padding: 40px;
  background: #FFFFFF;
  border-radius: 12px;

}

.image-trouvee {
  width: 100px;
  height: 100px;
}
#boite-boutons-resultat-partie {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px 0;
  width: 80%;
}
#bouton-relancer-partie {
  width: 24vw;
  height: 80px;
  color: #5C3E34;
  background-color: #FCC938;
  border: 0;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
}

#bouton-nouvelle-partie {
  width: 19vw;
  height: 80px;
  color: #006A52;
  border: 0;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
}

#bouton-statistiques {
  padding: 15px 0;
  width: 100%;
  background: #006A52;
  color: #FFFFFF;
  border: 0;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
}


#stade-patient {
  font-size: 20px;
  margin: 0;
}

#texte-images-trouvees {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFEFEF;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006A52;
  border-radius: 30px;
  :hover {
    background: #006A52;
  }
}

.centered-h{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}