<div class="carre">
  <div class="container" id="div-gauche">
    <div class="invisible-grey"><p id="Titre-Nouveau-theme">NOUVEAU THEME</p></div>
    <p class = "text-image">Images sélectionées : </p>
    <div class="stock-image"></div>
  </div>
  <div class="container" id="div-droit">
    <div id="div-nom-theme">  </div>
    <p class = "text-image">Toutes les images : </p>
    <div class="stock-image"></div>
    <button id="Importer-image">Importer une Image</button></div>

</div>

<div id ="bouton-bas-creer-theme">
  <button class="bas-vert">RETOUR</button>
  <button class="bas-jaune">Partager la création</button>
  <button class="bas-vert">VALIDER</button>
</div>
