$padding : 10px;

.liste-theme {
  padding: 50px 5%;
  .bloc-scrollable {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px 0; 
    justify-content: flex-start;
    border-radius: 12px;
    
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFEFEF;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006A52;
  border-radius: 30px;
  :hover {
    background: #006A52;
  }
}

.bloc-ajouter-theme ,app-item-frame {
  min-width: 270px;
  height: 500px;
}
.bloc-ajouter-theme {
  display: flex;
  background: #EFEFEF;
  border-radius: 12px;
  padding: 10px;
  min-width: calc(270px - 2 * #{$padding});
  height: calc(500px - 2 * #{$padding});
}

.bouton-ajouter-theme {
  color: #006A52;
  font-weight: bold;
  border: 4px #006A52 dashed;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
