.liste-theme {
  padding-left: 5%;
  .bloc-scrollable {
    height: 400px;
    display: flex;
    overflow: scroll;
    padding: 4%;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 12px;

  }
}

.bloc-ajouter-theme ,app-theme {
  margin-right: 40px;
  min-width: 20%;
  height: 100%;
}
.bloc-ajouter-theme {
  background: #EFEFEF;
  border-radius: 12px;
}

.bouton-ajouter-theme {
  width: 100%;
  height: 100%;
  color: #006A52;
  font-weight: bold;
  border: 4px #006A52 dotted;
  border-radius: 12px;
}
