
<div *ngIf="router.url !== '/game' && router.url !== '/authentification'  && router.url !== '/creer-compte' && router.url !== '/mot-de-passe-oublie'">
  <div id="circle-menu"></div>
  <div id="blur-menu" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
  <header>
    <div class="burger-menu" (click)="toggleMenu()">
      <div class="burger-menu-line"></div>
      <div class="burger-menu-line"></div>
      <div class="burger-menu-line"></div>
    </div>
    <div class="logo">
      <img src="../assets/images/memorysateur/memorysateurs.png" alt="Memorysateurs">
    </div>

    <div class="menu-container" [class.active]="isMenuOpen">
      <div class="menu-content">
        <div class="menu-header">
          <div class="menu-header-cross-close" (click)="toggleMenu()"></div>
        </div>
        <div class="menu-body">
          <div class="menu-body-item" routerLink="/liste-patient" routerLinkActive="active"  (click)="toggleMenu()">
            <a>Accueil</a>
          </div>
          <div *ngIf="router.url !== '/liste-patient' && router.url !== '/creer-patient'" class="menu-body-item" id="lien-themes" routerLink="/liste-theme" routerLinkActive="active" (click)="toggleMenu()">
            <a>Theme</a>
          </div>
          <div id="deconection" class="menu-body-item" routerLink="/connexion" routerLinkActive="active" (click)="confirmDeconection()">
            <a>Déconnexion</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div *ngIf="router.url == '/game'">
  <div id="circle-menu-game"></div>
  <div id="blur-menu" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
  <header>
    <div class="burger-menu" (click)="toggleMenu()">
      <div class="menu-header-cross-game"></div>
    </div>
    <div class="logo">
      <img src="../assets/images/memorysateur/memorysateurs.png" alt="Memorysateurs">
    </div>

    <div class="menu-container-game" [class.active]="isMenuOpen">
      <div class="menu-content">
        <div class="menu-header">
          <div class="menu-header-cross-close" (click)="toggleMenu()"></div>
        </div>
        <div class="menu-body">
          <div class="menu-body-item"  (click)=" confirmExit() ">
            <a>Quitter</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div *ngIf="router.url == '/authentification' || router.url =='/creer-compte' || router.url == '/mot-de-passe-oublie'">
  <header>
    <div class="logo">
      <img src="../assets/images/memorysateur/memorysateurs.png" alt="Memorysateurs">
    </div>
  </header>
</div>
