#circle-menu {
    position: absolute;
    top: -92px;
    left: -45px;
    width: 200px;
    height: 200px;
    background-color: #006A52;
    z-index: -1;
    border-radius: 50%;
}

#blur-menu {
    scale: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1;
    transition: background-color 0.2s ease-in-out, scale 0s ease-in-out 0.2s;
    background-color: transparent;
    &.active {
        scale: 1;
        background-color: rgb(0, 107, 82, 0.2);
        transition: background-color 0.2s ease-in-out, scale 0s ease-in-out 0s;
    }
}

#circle-menu-game {
    position: absolute;
    top: -92px;
    left: -80px;
    width: 200px;
    height: 200px;
    background-color: red;
    z-index: -1;
    border-radius: 50%;
}

header {
    height: 80px;
    display: grid;
    grid-template-columns: 200px .3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
    align-items: center;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    margin-bottom: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 85px;
    overflow: hidden;
  position: relative;
    &>img {
        display: block;
        min-height: 100%;
        min-width: 100%;
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    cursor: pointer;
    margin-left: 27px;
}

.burger-menu-line {
    width: 70px;
    height: 7px;
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.menu-header-cross-close {
    position: relative;
    width: 60px;
    height: 75px;
    margin-bottom: 50px;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 6px;
        background-color: #FFFFFF;
        z-index: 2;
        border-radius: 5px;
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 6px;
        background-color: #FFFFFF;
        z-index: 2;
        border-radius: 5px;
        transform: rotate(-45deg);
    }
}

.menu-header-cross-game {
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    top: 20px;
    left: -5px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 8px;
        background-color: #FFFFFF;
        z-index: 2;
        border-radius: 5px;
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 8px;
        background-color: #FFFFFF;
        z-index: 2;
        border-radius: 5px;
        transform: rotate(-45deg);
    }
}

.menu-container {
    background-color: #006A52;
    scale: 0;
    position: fixed;
    width: 450px;
    height: 100%;
    z-index: 3;
    top: 0;
    left: -100%;
    transition: left 0.5s ease, scale 0s ease 0.6s;
    animation-delay: 0s;
    &.active {
        transition: left 0.5s ease, scale 0s ease 0s;
        left: 0;
        scale: 1;
    }
}

.menu-container-game {
    background-color: red;
    scale: 0;
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 3;
    top: 0;
    left: -100%;
    transition: left 0.5s ease, scale 0s ease 0.6s;
    animation-delay: 0s;
    &.active {
        transition: left 0.5s ease, scale 0s ease 0s;
        left: 0;
        scale: 1;
    }
}

.menu-header {
    align-items: center;
    display: flex;
    justify-content: right;
    padding: 1rem 2rem 0rem 0rem;
    position: relative;
}


.menu-body-item:last-child:is(#deconection) {
    position: absolute;
    bottom: 0;
    width: 86%;
}

.menu-body-item {
    padding: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-body-item a {
    font-size: 32px;

    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.menu-body-item:hover>a {
    color: black;
}

.menu-body-item:hover {
    background-color: #facc02;
}
